body{
	background-color: black;
}
@keyframes animatedBackground {
	0% { background-position: 1366px 0; }
	100% { background-position: 0 0; }
}
@keyframes move-ship{		
	0% {left:900px;}
	100% {left: 2000px;}
	}

#main{
	border: solid black 3px;
	margin: 5%	auto;
	height: 750px;
	width: 1200px;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-image: url("background.jpg");
	animation: animatedBackground 18s linear infinite;
}
#title{
	margin: 5%	auto;
	height: 200;
	width: 940;
	background-image: url("title.png");
	background-repeat: no-repeat;
	opacity: 0.5;
}
#ship{
	position: absolute;	
	top:400px;
	left: 900px;
}
.movingShip{
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: move-ship;
    animation-duration: 4s;

}
#rules{
	position: absolute;
	margin-left: 200px;
	margin-top: -10px;
	left: 50%;
	top: 50%;
	height:300;
	width:300;
	background-color: black;
	opacity: 0.6;
}
#menu{
	position: absolute;
	margin-left: -500px;
	margin-top: -10px;
	left: 50%;
	top: 50%;
	height:300;
	width:300;
	background-color: black;
	opacity: 0.6;
}
#start{
	position: relative;
	top: 20px;
	left: 10px;
}
p{
	position: relative;
	left: 50px;
	font-size: 50px;
	color: white;
}