#w1{
	height: 20px;
	width: 200px;
	top: 500px;
	left: 610Px;
}
#w2{
	height: 220px;
	width: 20px;
	top:  10px;
	left: 120px;
}
#w3{
	height: 20px;
	width: 540px;
	top: 360px;
	left: 120px;
}
#w4{
	height: 200px;
	width: 20px;
	top: 10px;
	left: 630px;
}
#w5{
	height: 230px;
	width: 20px;
	top: 380px;
	left: 120Px;
}
#w6{
	height: 230px;
	width: 20px;
	top: 140px;
	left: 360Px;
}



