#w1{
	height: 110px;
	width: 649px;
	top: 10px;
	left: 160px;
}
#w2{
	height: 150px;
	width: 110px;
	top: 300px;
	left: 10px;
}
#w3{
	height: 330px;
	width: 20px;
	top: 280px;
	left: 480px;
}
#w4{
	height: 340px;
	width: 20px;
	top: 120px;
	left: 300px;
}
#w5{
	height: 20px;
	width: 140px;
	left: 480px;
	top: 280px;
}
#w6{
	height: 20px;
	width: 130px;
	left: 680px;
	top: 400px;
}