body{
	background-color: black;
}
@keyframes animatedBackground {
	0% { background-position: 1366px 0; }
	100% { background-position: 0 0; }
}

#main{
	border: solid black 3px;
	margin: 5%	auto;
	height: 750px;
	width: 1200px;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-image: url("background.jpg");
	animation: animatedBackground 18s linear infinite;
}
#title{
	margin: 5%	auto;
	height: 200;
	width: 940;
	background-image: url("title.png");
	background-repeat: no-repeat;
	opacity: 0.5;
}
#ship{
	margin: 10%	auto;
	height:200;
	width:200;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-image: url("spaceship.png");
}
#rules{
	position: absolute;
	margin-left: 200px;
	margin-top: -10px;
	left: 50%;
	top: 50%;
	height:300;
	width:300;
	background-color: black;
	opacity: 0.6;
}
#menu{
	position: absolute;
	margin-left: -500px;
	margin-top: -10px;
	left: 50%;
	top: 50%;
	height:300;
	width:300;
	background-color: black;
	opacity: 0.6;
}
#start{
	position: relative;
	top: 20px;
	left: 10px;
}
#difficulty{
	position: relative;
	top: 50px;
	left: 10px;
}
#Name{
	position: relative;
	top: 80px;
	left: 10px;
}